@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@00&display=swap');
* {
    color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #07080a;
    overflow-x: hidden;
}
#projects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110vh;
}
#loader{  
    position: fixed;
    display: flex;
    place-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #07080a;
    z-index: 100;
}

#menu{
    background-color: #07080a;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    text-align: center;
    padding: 1.2vh;
    font-size: 1.4em;
    z-index: 2;
    opacity: 1; 
    
}

#menu a{
    color: white;
    transition: 0.15s;
    text-decoration: none;
}

#menu a:hover {
    color: #6452b4;
    transition: 0.15s;
}

#menu i{
    display: flex;
    position: fixed;
    color: white;
    margin-left: 5vh;
    padding-top: 0.4vh;
}

#servicios{
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #07080a;
    text-shadow: 1px 1px 1px rgb(33, 17, 33);
}


#talk {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 70vw;
    height: 70vh;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 20px;
    max-width: calc(90vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

textarea {
    width: 100%;
    padding: 10px;
    height: 25vh;
    box-sizing: border-box;
    background: none;
    outline: none;
    color: black;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    color: black;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: black;
}

button {
    float: right;
    margin: 25px 0 0;
    border: 2px solid #78788c;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s
}

button:hover {
    color: black;
    font-size: 1.2em;
}

span {
    margin: 0 5px 0 15px
}