
.slider {
    margin: 0 auto;
    max-width: 940px;
 
}

.slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    border-radius: 10px;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(2) {
    background: url("https://source.unsplash.com/p0j-mE6mGo4/700x700");
}

.slide:nth-of-type(1) {
background: url("https://source.unsplash.com/wvOhowrohUI/600x600");
}

.slide:nth-of-type(3) {
background: url("https://source.unsplash.com/pjAH2Ax4uWk/700x700");
}

.slide:nth-of-type(4) {
background: url("https://source.unsplash.com/f5pTwLHCsAg/800x800");
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn,
.next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}



.subtitle {
    font-size: 2.2vh;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
}

.form-inline button:hover {
    background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

#textBlock{
    display: block;
    width: 40%;
}


.ejemplo {
    border-radius: 16px;
    box-shadow: 3px 4px 30px rgba(86, 33, 76, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    z-index: 3;
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}


#ejemplos {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    margin-bottom: -40vh;
}

#map {
    height: 60%;
    width: 40%;
    background: rgba(255, 255, 255, 0);
    border-radius: 1vh;
    box-shadow: 0 4px 30px rgba(86, 33, 76, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

#graphic{
    height: 70%;
    width: 50%;
    background: rgba(0, 0, 0, 0);
    border-radius: 1vh;
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

#galeria{
    height: 70%;
    width: 40%;
    background: rgba(0, 0, 0, 0);
    border-radius: 2vh;
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
}

  #chart-wrapper {
      display: inline-block;
      position: relative;
      width: 80%;
  }

