#talk {
    margin-top: -10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 50vw;
    height: 73vh;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 5vh;
    max-width: calc(90vw - 40px);
    box-sizing: border-box;
    position: relative;
}

textarea {
    width: 100%;
    padding: 2vh;
    height: 25vh;
    box-sizing: border-box;
    background: none;
    outline: none;
    color: black;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input {
    width: 100%;
    padding: 1vh;   
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    color: black;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}


input:focus {
    border-bottom: 2px solid #78788c
}

p:before {
    content: attr(type);
    display: block;
    margin: 1vh;
    font-size: 14px;
    color: black;
}

button {
    float: right;
    margin: 2vh;
    border: 2px solid #78788c;
    background: 0;
    padding: 1vh;
    color: black;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.5vh;
}

button:hover {
    color: rgb(179, 174, 174);

}

span {
    margin: 0 5px 0 15px
}
.form-control{
    position: relative;
    margin: 20px 0 40px;
}
.form-control input {
    background-color: transparent ;
    display: block ;
    width: 100%;
    margin-top: 30px;;
    font-size: 13px;
    color: black;
}


.form-control label{
    color: #07080a ;
    font-size: 13px;
    position: absolute;
    top: -2px;
    left: 0;
    /*pointer-events: none;*/
}

.form-control label {
    display: inline-block;
    font-size: 14px;
    min-width: 5px;
    transition-duration: 400ms;
}

.form-control input:focus + label,
.form-control input:valid + label,
.form-control label:hover,
.form-control input:hover + label
{
    color: black;
    font-size: 15px;
    transform: translateY(-20px);
    transition-delay: 80ms;
    transition-duration: 500ms;
}

.form-control input:valid{
    border-bottom-color: rgb(76, 161, 47);
}
@media (max-width: 621px) {
    .form {
        margin: 0;
        width: 80vw;

    }
    
}