@import url('https://fonts.googleapis.com/css2?family=Raleway');
* {
    color: white;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;;
}

body {
    width: 100%;
    height: 100%;
    background-color: #07080a;
    overflow-x: hidden;
}

.row{
    width: 100%;
    justify-content: space-between;
}


#equipo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equipo label{
    font-size: 5vh;
    font-weight: bold;
    padding-bottom: 5vh;
}

#loader{  
    position: fixed;
    display: flex;
    place-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #07080a;
    z-index: 100;
}
#logo{
    position: absolute;
    left: 100px;
    font-size: 24px;
    z-index: 3;
}
#menu{
    background-color: #07080a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    z-index: 2;
    opacity: 1;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
}
#menu a{
    align-items: center;
    color: #ffffff;
    transition: 0.15s;
    font-weight: bold;
}
#menu a:hover{
    color: #716fa3;
    transition: 0.15s;
}
.pipe{
    color: #a7a7a7;
    transition: 0.15s; 
}
@media (max-width: 940px) {
    #logo{
        left: -20px;
        position: inherit;
        display: inline-flex;
    }
}
@media (max-width: 621px) {
    .pipe{
        display: none;
    }
    #menu{
        flex-direction: column;
    }    
    #logo{
        left: 0;
        margin-bottom: 10px;
    }
}







#homepage {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: -7vh;
}

@media (max-width: 621px) { 
    #homepage {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    #izq{
        margin-bottom: 120px;
    }
    #dere{
        font-size: small;
        display: flex;
        flex-direction:column;
        margin: -100px;
        align-items: start;
        text-align: start;
    }
}
#izq{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#der{
    width: 50%;
    margin: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#der label{
    display: block;
    font-size: 8vh;
    color: rgb(255, 255, 255);
}


#servicios{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
}

