#servicios {
    margin: 0 auto;
    width: 100vw;
    height: 50vh;
    display: block;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.service{
    display: block;
    width: 20%;
}
.serviceDescription{
    display: block;
    font-size: 2vh;
    color: rgb(174, 180, 186);
}

.serviceTitle{
    font-size: 2.7vh;
    color: white;
}

.service i{
    color: rgb(174, 180, 186);
    display: block;
    font-size: 3vh;
    padding: 3vh;
}

.serviceTitleTitle{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 6vh;
}

#allServices{
    padding-top: 15vh;
    justify-content: space-between;
    display: flex;
}
.serviceDescriptionResponsive{
    display: none;
}
@media (max-width: 621px) {
    #allServices{
        padding-top: 0vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: center;
        justify-content: space-between;
        margin: 20px;
        margin-left: -2px;
    }
    .service{
        display: flex;
        padding: 30px;
    }
    .serviceDescription{
        display: none;
    }
    .serviceDescriptionResponsive{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        padding-left: 120px;
    }
}
